@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application for user management</h2>
        <ul>
            <li>Users Creation</li>
            <li>Change Password</li>
            <li>Password reset</li>
        </ul>
    </div>
</div>
